.nav-item {
    color: rgb(12, 8, 8);
    padding: 2px;
    margin: 5px;
    font-size: 22px;
    border: 2px solid transparent;
    font-weight: 700;
}

.nav-item:hover {
    border: 2px solid red;
    border-radius: 5px;
    color: red;

}


#entireNavBar {
    height: 200px;
}

.carousel.carousel-dark {
    display: list-item;
    margin-top: 120px;
}

div.container {
    align-content: center;
}

div.modal-content {
    text-align: center;

}

.modal-header {
    text-align: center;
}

#addHeader {

    font-size: 30px;
}

#navItemHome {
    float: right;
    margin-right: 20px;
}


body {
    background: linear-gradient(-45deg, #f3d8d0, #674f58, #4f5357, #f0f4ef);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #fb0e11 0%,
            #240f3a 19%,
            #160e0e 57%,
            #120704 100%);
    text-align: center;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    /* display: inline-block; */
    font-size: 66px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

#addBookBtnDiv {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
}

.btn-12 {
    margin-top: 30px;
    padding: 3px;
    background-color: transparent;
    position: relative;
    right: 80px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

@keyframes heartbeat {
    0% {
        transform: scale(.9);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(.9)
    }
}


.btn-12 span {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    display: inline;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

#footerNav {
    justify-content: center;
    margin-top: 40px;
}

.carousel-item img {
    height: auto;
    width: auto;
    object-fit: fill;
    border-radius: 5px;
    padding: 2rem;
    margin: auto;
    display: block;
}

.carousel-caption {
    /* border: 5px solid black; */
    width: flex;
    background-color: rgba(174, 172, 172, 0.0);
    border-radius: 5px;
    
}

.carousel-caption:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    transform: scale(1.01);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    background: ;
}
h3 {
    color: rgb(255, 255, 255);
}
h3:hover {
    color: black;
}